{% extends 'client_base.html' %}

{% block navcontent %}
<h1>My energy diary</h1>
<h2>
  <a class="prev-week" href="#">&lt;</a>
  <span class="week-text">This week</span>
  <a class="next-week disabled" href="#">&gt;</a>
</h2>
{% endblock %}

{% block body %}
<hr/>

<div class="weekdays">
  <div><a data-date="" href="#" data-target="/client/day?day=1">M</a></div>
  <div><a data-date="" href="#" data-target="/client/day?day=2">T</a></div>
  <div><a data-date="" href="#" data-target="/client/day?day=3">W</a></div>
  <div><a data-date="" href="#" data-target="/client/day?day=4">T</a></div>
  <div><a data-date="" href="#" data-target="/client/day?day=5">F</a></div>
</div>

<hr/>

<div class="container devices">
  <div class="row">
    <div class="col-5-sm" id="projector">
      <a href="#"><img src="/static/img/projector-week-icon.png"></a>
    </div>
    <div class="col-2-sm"></div>
    <div class="col-5-sm" id="computer">
      <a href="#"><img src="/static/img/computer-week-icon.png"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12-sm" id="total">
      <a href="#">
        <div>
          <span class="time"></span><br/>
          <span class="units">kWh</span><br/>
          <span class="view">view</span>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-5-sm" id="light">
      <a href="#"><img src="/static/img/lightBulb-week-icon.png"></a>
    </div>
    <div class="col-2-sm"></div>
    <div class="col-5-sm" id="heater">
      <a href="#"><img src="/static/img/heater-week-icon.png"></a>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(populateWeekView);
$('span.view').click(function(){ console.log("bork") })
</script>

{% endblock %}