<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LES - {% block title %}{% endblock %}</title>

    <!--[if lt IE 9]>
    <script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->

    <link rel="stylesheet" href="./static/css/simple-grid.min.css" />
    <link rel="stylesheet" href="./static/css/dash-style.css" />
    <link rel="stylesheet" href="./static/css/fonts.css" />
    <link rel="stylesheet" href="./static/css/jquery-ui.css" />

    <script src='./static/js/moment.js'></script>
    <script src='./static/js/jquery.min.js'></script>
    <script src='./static/js/spin.js'></script>
    <script src='./static/js/jquery-ui.js'></script>
    {% block head %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}

<div class="footer">
    <p>Footer text.</p>
</div>
</body>
</html>