{% extends 'base_template.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="/static/css/dash-style.css" />
{% endblock %}

{% block navcontent %}
  {% include 'partials/filters.html' %}
{% endblock navcontent %}

{% block body %}

<div class="grayBg">
<div class="mainCenter">
  <div class="energy-grid">
    <div class="cell noborder">
    </div>
    <div class="cell noborder">
      <p class="wday-label">MON</p>
    </div>
    <div class="cell noborder">
      <p class="wday-label">TUE</p>
    </div>
    <div class="cell noborder">
      <p class="wday-label">WED</p>
    </div>
    <div class="cell noborder">
      <p class="wday-label">THU</p>
    </div>
    <div class="cell noborder">
      <p class="wday-label">FRI</p>
    </div>

    <!-- ROW 1 -->
    <div class="cell noborder">
      <div class="energyIcon selected" name="projector"></div>
    </div>
    <div class="energy-cell projector monday notopborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell projector tuesday notopborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell projector wednesday notopborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell projector thursday notopborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell projector friday notopborder norightborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>

    <!-- ROW 2 -->
    <div class="cell noborder">
      <div class="energyIcon selected" name="light"></div>
    </div>
    <div class="energy-cell light monday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell light tuesday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell light wednesday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell light thursday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell light friday norightborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>

    <!-- ROW 3 -->
    <div class="cell noborder">
      <div class="energyIcon selected" name="heater"></div>
    </div>
    <div class="energy-cell heater monday">
      <div class="circle"></div>
      <div class="data">
        <span class="value">999</span><br/>kWh
      </div>
    </div>
    <div class="energy-cell heater tuesday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell heater wednesday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell heater thursday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell heater friday norightborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>

    <!-- ROW 4 -->
    <div class="cell noborder">
      <div class="energyIcon selected" name="computer"></div>
    </div>
    <div class="energy-cell computer monday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell computer tuesday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell computer wednesday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell computer thursday">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>
    <div class="energy-cell computer friday norightborder">
      <div class="circle"></div>
      <div class="data"><span class="value">999</span><br/>kWh</div>
    </div>

    <!-- ROW Counts -->
    <div class="cell noborder">
      <p class="energy-total all">
        Total kWh <br/> <span>999</span>
      </p>
    </div>
    <div class="cell noborder">
      <p class="energy-total monday">999</p>
    </div>
    <div class="cell noborder">
      <p class="energy-total tuesday">999</p>
    </div>
    <div class="cell noborder">
      <p class="energy-total wednesday">999</p>
    </div>
    <div class="cell noborder">
      <p class="energy-total thursday">999</p>
    </div>
    <div class="cell noborder">
      <p class="energy-total friday">999</p>
    </div>
  </div>

  <div class="legend">
    <div class="legend-circles">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div class="circle-labels">
      <span>10</span>
      <span>20</span>
      <span>30</span>
      <span>40</span>
      <span>50</span>
      <span>60</span>
      <span>70</span>
      <span>80</span>
      <span>90</span>
      <span>100</span>
    </div>
    <div class="legend-gradient"></div>
  </div>
</div>
</div>


<div id="learningQuestions" class="mainCenter">
  <h2>Energy Diary - Learning Questions</h2>
  <p class="question">
    What is the common unit of measurement for energy data?
  </p>

  <p class="answer"><button class="reveal-btn">Show answer</button><span>kW/h</span></p>

  <p class="question">
    In the days before electric light, how did the owners of factories and mills provide enough light for the workers?'
  </p>

  <p class="answer"><button class="reveal-btn">Show answer</button><span>
    They built the mills and factories with very large windows and put the machines near the windows.The buildings would have large south-facing windows. Fires and candles would provide a fire-risk.</span>
  </p>
  <p class="question">
    Which is currently the most energy efficient light bulb?
  </p>

  <p class="answer"><button class="reveal-btn">Show answer</button><span>Compact fluorescent light bulbs.</span></p>
</div>

<script src='/static/js/dash.js'></script>
<script type="text/javascript">
$(document).ready(function(){
  populateSelects();
  watchSelects();
  watchCells();
  watchDeviceIcons();
  watchRevealBtns();
  getSelectedUsage();
});
</script>
{% endblock %}