{% extends 'base_template.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="/static/css/dash-style.css" />
{% endblock %}

{% block navcontent %}
  {% include 'partials/filters.html' %}
{% endblock navcontent %}

{% block body %}

<div class="grayBg">
<div class="detail mainCenter">
  <br/>

  <div class="detail-grid">
    <div class="cell noborder">
      <div class="energyIcon selected" name="projector"></div>
    </div>
    <div class="cell noborder">
      <div class="energyIcon selected" name="light"></div>
    </div>
    <div class="cell noborder">
      <div class="energyIcon selected" name="heater"></div>
    </div>
    <div class="cell noborder">
      <div class="energyIcon selected" name="computer"></div>
    </div>
  </div>

  <div class="detail-wrapper">
    <div class="microscope">
    </div>
  </div>

  <div class="detail-legend">
    <img src="/static/img/users.png">
    <h3><span class="user-count"></span> Users</h3>
  </div>

  <hr class="clear"/>
</div>

<script src='/static/js/dash.js'></script>
<script type="text/javascript">
$(document).ready(function(){
  populateSelects();
  watchDetailSelects();
  getSelectedSummaries();
  /*populateCircles([
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 },
    { average_pct: Math.random() * 100 }
  ]);*/
});
</script>

{% endblock %}