{% extends 'base_template.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="/static/css/dash-style.css" />
{% endblock %}

{% block navcontent %}
  {% include 'partials/filters.html' %}
{% endblock navcontent %}

{% block body %}

<div class="grayBg">
<div class="mainCenter">
  <br/>

  <div class="detail-grid">
    <div class="cell noborder">
      <div class="energyIcon selected" name="projector"></div>
    </div>
    <div class="cell noborder">
      <div class="energyIcon selected" name="light"></div>
    </div>
    <div class="cell noborder">
      <div class="energyIcon selected" name="heater"></div>
    </div>
    <div class="cell noborder">
      <div class="energyIcon selected" name="computer"></div>
    </div>
  </div>

  <div class="detail-wrapper">
    <div class="microscope">
    </div>
  </div>

</div>

<script src='/static/js/dash.js'></script>
<script type="text/javascript">
$(document).ready(function(){
  populateSelects();
  watchDetailSelects();
  getSelectedSummaries();
  populateCircles([54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 54, 32, 12, 45, 82, 26, 93, 5]);
});
</script>

{% endblock %}