<div class="styled-select wider slate">
<select id="select-yeargroup">
  <option value="0">All Yeargroups</option>
</select>
</div>

<div class="styled-select slate">
<select id="select-subject">
  <option value="0">All Subjects</option>
</select>
</div>

<div class="styled-select slate">
<select id="select-month">
  <option value="0">All Months</option>
</select>
</div>

<div class="styled-select slate narrower">
<select disabled="disabled" id="select-week">
  <option value="0">All Weeks</option>
</select>
</div>

<div class="styled-select slate narrower">
<select id="select-day">
  <option>All Days</option>
  <option>Monday</option>
  <option>Tuesday</option>
  <option>Wednesday</option>
  <option>Thursday</option>
  <option>Friday</option>
</select>
</div>