* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:  'TTRounds-Regular';
  color: white;
}

body { 
  overflow-y: scroll;
  background-image: url('../img/backgrounds/0.png');
  background-size: 100vw 100vh;
}

body.prediction {
  background-image: url('../img/backgrounds/Detailview_body.png');
  background-size: 100vw 61vh;
}

a { 
  color: white; 
  text-decoration: none; 
}

a.disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

a.disabled:hover {
  color:inherit;
  cursor: not-allowed;
}

nav, #overlay-menu nav {
  margin-top: 1em;
  text-align: center;
}

nav h1, nav h2 { text-transform: uppercase; } 
nav h1 {
  line-height: 1.6em;
  font-size: 1.6em;
  margin-bottom: 0em;
}
nav h2 {
  font-size:2.1em;
}

nav h2 a {
  top: -4px;
  font-size: 0.9em;
  display: inline-block;
  position: relative;
  margin: 0 0em;
  padding: 0 5px;
}

/* HAMBURGER OVERLAY */

nav div.hamburger {
  left: 4vw;
  position: absolute;
  float: none;
}

.bar1, .bar2, .bar3 { height: 4px; }

nav div.hamburger .bar1,
nav div.hamburger .bar2,
nav div.hamburger .bar3 { background-color: white; }

#overlay-menu nav {
  width: 90vw;
  top: 0px;
}

#overlay-menu nav ul {
  position: relative;
  top: 6vh;
  list-style-type: none;
  font-size: 2em;
  margin: 0;
  margin-left: 8%;
  padding: 0;
  width: 80%;
  text-align: left;
}

/* ---------- */

div.weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0vw;
  width: 80%;
  margin: 0 auto;
}

div.weekdays a {
  text-align: center;
  display: block;
  width: 1.4em;
  border: 4px solid #f9f9f9;
  border-color: rgba(255,255,255,0.6);
  border-radius: 100%;
  font-size: 2.4em;
  margin: 0 auto;
  padding: 0.1vw;
  background-color: rgba(100,100,140,0.2);
}

div.weekdays a.disabled {
  cursor: default;
}

div.weekdays a.selected {
  background-color: rgba(255,255,255,0.2); 
}

div.devices a {
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.devices #total a {
  position: absolute;
  background-color: white;
  min-height: 3em;
  min-width: 3em;
  top: -4.5vh;
  border-radius: 100%;
  color: black;
  vertical-align: bottom;
  left: 43%;
  width: 11vh;
  height: 11vh;
}

div.devices #total a div {
  top: 0.5vh;
  position: relative;
}

div.devices #total a div span.time { font-size: 4.4vh; }
div.devices #total a div span.units { font-size: 0.9em; }

div.devices a img {
  max-width: 31vh;
}

@media only screen and (max-width: 720px) {
  div.devices a img {
    max-width: 100%;
  }
}

ul.subjects {
  width: 95vw;
  margin: 0 auto;
  display: block;
  font-size: 4vh;
  font-size:calc(12px + 2.5vh);
  margin-top: 1em;
  list-style-type: none;
}

ul.subjects li {
  margin-bottom: 1em;
}

ul.subjects a {
  display: inline-block;
  background: white;
  color: #333;
  padding: 1.5vh 1vh;
  padding-left: 2vh;
  border-radius: 5px;
  width: 69%;
  height: 5vh;
  min-height: calc(12px + 2.5vh);
}

ul.subjects div.circle { 
  display: inline-block;
  background-color: none;
  border-radius: 100%;
  width: 6vh;
  float: left;
  margin-right: 1vh;
  height: 6vh;
  border: 1vh solid white;
  min-height: calc(12px + 2.5vh);
}

ul.subjects div.circle span {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  top: 0.5vh;
  position: relative;
}

/*
https://stackoverflow.com/questions/25729861/how-to-partly-color-the-border-with-css
*/


.pointerCursor { cursor: pointer; }

hr {
  border: none;
  height: 2px;
  width: 98%;
  display: block;
  background-color: rgba(255,255,255,0.7);
  margin: 1vh auto;
}

/* PREDICTION VIEW */

ul.devices {
  margin-top: 1em;
  list-style-type: none;
  margin: 0 auto;
  display: block;
  font-size: 4vh;
  font-size:calc(12px + 2.5vh);
  width: 95vw;
}

ul.devices img {
  display: inline-block;
  float: left;
  margin-right: 1%;
  width:12%;
  height: auto;
  min-height: calc(12px + 2.5vh);
  max-width: 15vh;
}

ul.devices li {
  height: 15vh;
  width: 100%;
  display: block;
  clear:both;
  margin-bottom: 4vh;
}

ul.devices li div.selector-control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 84%;
  height:100%;
}

ul.devices li div.selector-control div {
  border: 2px dashed white;
  text-align: right;
  border-right: none;
}

ul.devices li div.selector-control div:last-child {
  border-right: 2px dashed white;
}

div.selector-control div.block.selected {
  background-color: gray;
}


/* Following colours should match shared.js gradient */

div.selector-control div.block.selected.pct-0 { background-color: rgb(26,22,100) }
div.selector-control div.block.selected.pct-13 { background-color: rgb(10,55,109) }
div.selector-control div.block.selected.pct-25 { background-color: rgb(2,96,122) }
div.selector-control div.block.selected.pct-38 { background-color: rgb(1,155,115) }
div.selector-control div.block.selected.pct-50 { background-color: rgb(167,209,100) }
div.selector-control div.block.selected.pct-63 { background-color: rgb(243,207,94) }
div.selector-control div.block.selected.pct-75 { background-color: rgb(233,126,103) }
div.selector-control div.block.selected.pct-88 { background-color: rgb(234,44,90) }
div.selector-control div.block.selected.pct-100 { background-color: rgb(173,40,82) }

#toast {
  display: none;
}
#toast div {
  margin: 0 auto;
  background-color: gray;
  padding: 1em;
  width: auto;
  display: inline-block;
  position: relative;
  left: 42vw;
  border-radius: 0.2em;
  box-shadow: 0px 0px 5px grey;
}
