/* FONTS */

@font-face {
  font-family: 'TTRounds';
  src: url('TTRounds-Regular.eot');
  src: url('TTRounds-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTRounds-Regular.woff') format('woff'),
    url('TTRounds-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTRounds';
  src: url('TTRounds-Bold.eot');
  src: url('TTRounds-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTRounds-Bold.woff') format('woff'),
    url('TTRounds-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTRounds-Regular';
  src: url('TTRounds-Regular.eot?#iefix') format('embedded-opentype'),  url('TTRounds-Regular.otf')  format('opentype'),
  url('TTRounds-Regular.woff') format('woff'), url('TTRounds-Regular.ttf')  format('truetype'), url('TTRounds-Regular.svg#TTRounds-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTRounds-Bold';
  src: url('TTRounds-Bold.eot?#iefix') format('embedded-opentype'),  url('TTRounds-Bold.otf')  format('opentype'),
  url('TTRounds-Bold.woff') format('woff'), url('TTRounds-Bold.ttf')  format('truetype'), url('TTRounds-Bold.svg#TTRounds-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

*:focus {outline:0;}


/* UTILITY CLASSES */

.hidden { display: none; }
.no-scroll { overflow-y: hidden; }
.full-width { width:100%; }
.smaller { font-size: 0.8em; }
.small { font-size: 0.5em; }


/* HAMBURGER ICON */

.hamburger {
  display: inline-block; 
  cursor: pointer;
}

nav div.hamburger { 
  z-index: 2000000001;
  position: relative;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #8C8080;
  margin: 6px 0;
  transition: 0.4s;
}

.opened-menu .bar1, .opened-menu .bar2, .opened-menu .bar3 {
  background-color: white;
}

.opened-menu .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.opened-menu .bar2 {opacity: 0;}

.opened-menu .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* OVERLAY MENU */

.gradient {
  background: rgb(187,223,198);
  background: linear-gradient(130deg, rgba(187,223,198,1) 0%, rgba(127,211,183,1) 100%);
}

div.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2000000000;
  position: fixed;
  top: 0;
}

#overlay-menu nav, #overlay-menu a { 
  color:white; 
  text-decoration: none; 
}

#overlay-menu a:hover { color:#ffffc4; }

#overlay-menu nav {
  width: 65vw;
  margin: 0 auto;
  height: 90vh;
  display: block;
  top: 24vh;
  position: relative;
}

#overlay-menu nav ul {
  list-style-type: none;
  font-size: 3em;
  width: 41%;
  margin: 0 4%;
  float: left;
  padding: 0;
}

#overlay-menu nav ul li { margin-bottom: 2vh; }
#overlay-menu nav ul li.smaller { padding-left:2px; }